@import "tailwindcss";

/* .app-sheet {
    display       : flex;
    flex-direction: column;
    height        : 100%;
}

.app-sheet__content {
    flex : 1;
    order: 1;
}

.app-sheet__footer {
    order           : 2;
    margin-top      : auto;
    height          : 100px;
    flex-shrink     : 0;
    display         : flex;
    align-items     : center;
    justify-content : center;
    padding         : 1rem;
    background-color: #ffffff;
    border-top      : 1px solid rgba(0, 0, 0, 0.08);
    box-shadow      : 0 -6px 18px rgba(15, 23, 42, 0.12);
} */